.body {
  background-color: rgb(236, 236, 236);
}
/*------*** HEADER ***-----------*/
.header {
  margin-top: 30px;
  background-color: #fff;
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 6fr 1fr;
}
.logo-nav__wrapper {
  display: flex;
  justify-self: left;
}
.logo {
  padding: 20px;
  margin: 0px 10px;
  width: 200px;
  cursor: pointer;
}
.nav__list {
  display: flex;
  margin-left: 20px;
}
.nav__list-item {
  padding: 30px;
  padding-left: 5px;
  font-size: 22px;
  font-family: "oswald", sans-serif;
}
.list-item__link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}
.nav__list-item:nth-child(odd) {
  border-bottom: 4px solid rgb(238, 73, 73);
}
.nav__list-item:nth-child(even) {
  border-bottom: 4px solid rgb(54, 214, 39);
}
.nav__list-item:nth-child(odd):hover,
.nav__list-item:nth-child(odd):hover > a {
  background-color: rgb(238, 73, 73);
  color: #fff;
}
.nav__list-item:nth-child(even):hover,
.nav__list-item:nth-child(even):hover > a {
  background-color: rgb(54, 214, 39);
  color: #fff;
}
.burger-menu {
  display: none;
}
.header__button {
  display: flex;
  margin: 20px 60px;
  justify-self: right;
}
.settings,
.log-in,
.burger-menu {
  cursor: pointer;
}

/*-------------- MAIN ------------*/

.main {
  background-color: #fff;
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.main__top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, 150px);
  align-items: center;
}
.top-section__left-button {
  font-family: "oswald", sans-serif;
  margin: 10px;
  padding: 15px 10px;
  background-color: rgb(238, 73, 73);
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
  border-bottom: 5px solid rgb(233, 44, 44);
  cursor: pointer;
}
.top-section__aside {
  justify-self: end;
  margin: 10px;
}
.aside__button {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "oswald", sans-serif;
  padding: 10px 20px;
  margin: 5px;
  color: #fff;
  cursor: pointer;
}
.aside__button--yellow {
  background-color: rgb(248, 248, 36);
  border-bottom: 5px solid rgb(209, 209, 4);
}
.aside__button--blue {
  background-color: rgb(80, 80, 243);
  border-bottom: 5px solid rgb(45, 45, 224);
}
.aside__button--green {
  background-color: rgb(4, 131, 4);
  border-bottom: 5px solid rgb(3, 100, 3);
}
.aside__button--grey {
  background-color: rgb(110, 109, 109);
  border-bottom: 5px solid rgb(80, 79, 79);
}

/*----------------------------------*/
.main__gallery {
  margin: 5px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  grid-auto-rows: 210px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}
.sm-img {
  width: 100%;
  height: 100%;
}
.lg-img {
  width: 100%;
  height: 100%;
}

.img1 {
  grid-column: span 2;
  grid-row: span 2;
}
.img2 {
  grid-column: span 2;
  grid-row: span 2;
}
.img3 {
  grid-column: span 2;
  grid-row: span 2;
}
.img4 {
  grid-column: span 2;
  grid-row: span 2;
}
.img5 {
  grid-column: span 2;
  grid-row: span 2;
}
.img6 {
  grid-column: span 2;
  grid-row: span 2;
}
.img7 {
  grid-column: span 2;
  grid-row: span 2;
}
.img8 {
  grid-column: span 2;
  grid-row: span 2;
}
.img9 {
  grid-column: span 2;
  grid-row: span 2;
}
.img10 {
  grid-column: span 2;
  grid-row: span 2;
}
.img11 {
  grid-column: span 2;
  grid-row: span 2;
}
.img12 {
  grid-column: span 2;
  grid-row: span 2;
}
.img13 {
  grid-column: span 2;
  grid-row: span 2;
}

/*--------------------------Section-------------*/
.section__info {
  width: 100%;
  margin: 50px 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(250px, 300px);
  grid-auto-flow: row;
  grid-gap: 15px;
  overflow: hidden;
}
.info__box {
  background-color: black;
  width: 250px;
  height: 300px;
}
.box__header {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 5px solid rgb(135, 136, 134);
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.box__content {
  width: 90%;
  height: 70%;
  margin: 10px auto;
  background-color: grey;
}
.box__header--blue {
  border-color: rgb(91, 91, 245);
}
.box__header--green {
  border-color: green;
}
.box__header--grey {
  border-color: rgb(68, 67, 67);
}
.box__header--yellow {
  border-color: rgb(165, 165, 18);
}

/*-------------- FOOTER ----------*/
.footer {
  width: 100%;
  height: auto;
  display: grid;
  margin-top: 20px;
  background-color: black;
  grid-template-columns: 1fr 1fr;
}
.footer__copyright-text {
  color: #fff;
  justify-self: left;
  align-self: center;
  padding: 40px;
  text-align: center;
}
.footer__menu-list {
  padding: 30px;
  justify-self: left;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.footer__menu-list-item {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 18px;
  font-family: "oswald", sans-serif;
  border-bottom: 3px solid grey;
  text-align: center;
}
.footer__menu-list-item-link {
  text-decoration: none;
  color: #fff;
}
.footer__menu-list-item--blue {
  border-color: teal;
}
.footer__menu-list-item--green {
  border-color: rgb(0, 128, 0);
}
.footer__menu-list-item--grey {
  border-color: rgb(75, 74, 74);
}
.footer__menu-list-item--yellow {
  border-color: rgb(145, 145, 15);
}
.footer__buttons {
  display: none;
}
