@media screen and (max-width: 1226px) {
  .nav {
    display: none;
  }
  .header {
    justify-content: space-between;
  }
  .burger-menu {
    display: revert;
  }
}

@media screen and (max-width: 1085px) {
  .body {
    background-color: #fff;
  }
  .footer__menu-list {
    display: none;
  }
  .footer {
    grid-template-columns: 2fr 1fr;
  }
  .footer__buttons {
    display: revert;
    justify-self: center;
    align-self: center;
  }
}
@media screen and (max-width: 900px) {
  .top-section__aside {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer__copyright-text {
    justify-self: center;
  }
  .main__gallery {
    width: 99%;

    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    grid-auto-rows: 200px;
    grid-gap: 5px;
  }
  .gallery__small-img {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media screen and (max-width: 500px) {
  .header {
    grid-template-columns: 1fr;
    height: auto;
  }
  .logo-nav__wrapper {
    justify-self: center;
    align-self: center;
  }
  .header__buttons {
    justify-self: center;
  }
}
